@model IEnumerable<DacTaWeb2.Models.ViewModels.ListSanPhamViewModel>

@{
    ViewData["Title"] = "ListSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách sản phẩm</h1>

<span class="btn-primary" style="padding: 10px; display: inline-block; margin: 20px ">
    <a asp-action="ThemSanPhamMoi">Thêm mới sản phẩm</a>
</span>

<style>
    td,th{
        border: solid 1px purple !important;
        padding: 5px !important;
        text-align: center;
    }
    td:first-child{
        text-align: left !important;
    }
    td img{
        width: 100px !important;
        border-radius: 0 !important;
    }
    a{
        text-decoration: none !important;
        color: white !important;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Chất vải
            </th>
            <th>
                Kích cỡ
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Màu
            </th>
            <th>
                Thương hiệu
            </th>
            <th>Cập nhật sản phẩm</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                <img style="height:100px; text-align:center;" src="@Url.Content("~/assets/images/"+@item.Anh)" alt="Ảnh sản phẩm">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTH)
            </td>
            <td>
                <a class="btn-primary" style="width: 55px; padding:10px 0; display: inline-block; margin: 5px; border-radius: 8px" asp-action="Edit" asp-route-id="@item.IdSp">Sửa</a>
                <a class="btn-primary" style="width: 55px; padding:10px 0; display: inline-block; margin: 5px; border-radius: 8px" asp-action="Details" asp-route-id="@item.IdSp">Chi tiết</a>
                <a class="btn-primary" style="width: 55px; padding:10px 0; display: inline-block; margin: 5px; border-radius: 8px" asp-action="Delete" asp-route-id="@item.IdSp">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
