@model DacTaWeb2.Models.Sanpham

@{
    ViewData["Title"] = "XoaSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xoá sản phẩm</h1>

<h3>Bạn có chắc chắn muốn xoá sản phẩm này?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCvNavigation.IdCv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKcNavigation.IdKc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLspNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLspNavigation.IdLsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMauNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMauNavigation.IdMau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdThNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdThNavigation.IdTh)
        </dd>
    </dl>
    
    <form asp-action="XoaSanPham">
        <input type="hidden" asp-for="IdSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
